body{
padding: 0;
margin: 0;
box-sizing: border-box;


}
.page1{
height: 100vh;
width: 100%;


}
.navbar{
height: 15%;
width: 100%;

background-color: orchid;
display: flex;
justify-content: space-between;
flex-direction: row;


}
.navbar img{
height: 40%;
width:10%;
margin-top: 27px;
margin-left: 35px;


}

.container{
height: 85%;
width: 100%;
background-image: url(/images/banner.webp);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.list{
height: 100%;
width: 40%;

display: flex;
flex-direction: row;


}
.list li{
list-style: none;
margin: 10px;
margin-top: 20px;
margin-left: 10px;


}
.navbar button{
height: 50%;
width: 15%;
background-color: orangered;
border-radius: 20px;
margin-left: 6%;
}


body{
padding: 0;
margin: 0;
box-sizing: border-box;
}




.page2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main{
height: 80%;
width: 100%;
display: flex;
justify-content: center;




}


.container1{
    height: 100%;
    width:33%;
    margin-left: 10%;
    margin-top: 6%;
    }


.container1 img{
height: 50%;
width: 100%;
background-size: cover;
border-radius: 15px;
    }


.container2{
height: 100%;
    width: 33%;
    margin: 30px;
    margin-top: 6%;
    }


.container2 img{
height: 50%;
width: 100%;
border-radius: 15px;
}

.container3{
height: 80%;
width: 33%;
margin-right: 10%;
margin-top: 6%;


}
.container3 img{
height: 50%;
width: 100%;
border-radius: 15px;
}




body{
padding: 0;
margin: 0;
box-sizing:border-box;
}



.page3{
height: 100vh;
width: 100%;
display: flex;


}
.head1{
display: flex;
align-items: center;
margin-left: 7%;
color: orangered;

}

.container7{
    height: 100%;
    width: 50%;
    background-image: url(/images/Family_cooking\ 3.webp);
        background-size: cover;
        


    }



    .container9{
height: 100%;
width: 50%;
background-color: rgba(233, 150, 122, 0.265);



}
.container9 .list{
display: flex;
flex-direction: column;
font-weight: 900;


}


.container9 .list .button{
height: 6%;
width:45%;
background-color: orangered;
border: none;
border-radius: 20px;
color: white;





}




.container9 p{
margin-left: 7%;

}




body{
padding: 0;
margin: 0;
box-sizing: border-box;

}

.page4{
height: 100vh;
width: 100%;


}
.page4 h1{
display: flex;
justify-content: center;
align-items: center;



}
.page4 p{
display: flex;
align-items: center;
justify-content: center;
}




.Divkubwayakuekacontainers{

height: 60%;
width: 100%;
display: flex;
justify-content: space-between;


}


.container30{
height: 80%;
width: 30%;

display: flex;
justify-content: center;
align-items: center;

}
.container31{
    height: 80%;
    width: 30%;
    
    display: flex;
    justify-content: center;
align-items: center;


}
.container32{
    height: 80%;
    width: 30%;
    
    display: flex;
justify-content: center;
align-items: center;

}
.container30 img{
height: 100%;
width: 80%;


}
.container31 img{
height: 100%;
width:80% ;
display: flex;
justify-content: center;
align-items: center;


}
.container32 img{
height: 100%;
width: 80%;

}

.btn{
    height: 20%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.btn button{
    height: 50%;
    width: 20%;
    background-color: orangered;
    border: none;
    color: #fff;
    border-radius: 30px;
}



body{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.page5{
height: 100vh;
width: 100%;




}
.page5 img{
height: 15%;
width: 13%;



}
.ta{
height: 15%;
width: 30%;

display: flex;
justify-content: center;
align-items: center;
margin-left: 25%;

}
.ta img{
height: 90%;
width: 30%;
margin-left: 20%;
}
.ta p{
font-size: xx-large;
text-decoration: underline;

}


.bigdiv{
height: 60%;
width: 100%;
display: flex;
justify-content: space-between;

}
.cont1{
height: 100%;
width: 20%;

display: flex;
justify-content: center;
align-items: center;



}
.cont2{
height: 100%;
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}
.cont3{
height: 100%;
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}
.cont4{
height: 100%;
width: 20%;

display: flex;
justify-content: center;
align-items: center;

}
.cont1 img{
height: 80%;
width: 100%;
}
.cont2 img{
    height: 80%;
    width: 100%;

}
.cont3 img{
    height: 80%;
    width: 100%;


}
.cont4 img{
    height: 80%;
    width: 100%;


}
.ending{
height: 20%;
width: 100%;
font-size: larger;
font-weight: 200;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



}



.rectangle{
height: 20%;
width: 100%;
background-color: crimson;
border-color: rgb(0, 255, 179);
border-radius: 10px;


}

body{
padding: 0;
margin: 0;
box-sizing: border-box;

}
.page6{
height: 100vh;
width: 100%;



background-image: url(/images/subscribe\ pg5.webp);
background-size: cover;

}


.centerdiv{
height: 100%;
width: 100%;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.center{
height: 50%;
width: 70%;

display: flex;
background-color:rgba(255, 255, 255, 0.973);
flex-direction: column;
align-items: center;
border-radius: 15px;


}
.center h5{
    margin-right: 51%;
}

.sub{
    height: 20%;
    width: 100%;
    display: flex;
    margin-left: 40%;
}
.sub input {
height: 50%;
width: 45%;


}

.sub button{
    height: 59%;
    width: 15%;
}

.page6 .para1{

font-display: fade;

}



body{
padding: 0;
margin: 0;
box-sizing: border-box;

}

.page7{
height: 100vh;
width: 100%;
margin-top: 30px;



}

.Biggestforcont{
height: 50%;
width: 100%;
display: flex;
justify-content: space-evenly;


}

.page7 img{
height: 7%;
width: 10%;
margin-left: 45%;

}

.contain1{
height: 70%;
width: 20%;

display: flex;
align-items: center;
flex-direction: column;
}
.contain2{
    height: 70%;
    width: 20%;
    
display: flex;
align-items: center;
flex-direction: column;
}
.contain3{

    height: 70%;
    width: 20%;

display: flex;
flex-direction: column;
align-items: center;

}
.contain4{
    height: 70%;
    width: 20%;

    display: flex;
flex-direction: column;
align-items: center;

}
.google{
height: 25%;
width:100%;
background-color: chartreuse;
display: flex;
justify-content: space-around;
}
.a{
    height: 100%;
    width: 25%;
background-color: chocolate;

}
.b{
    height: 100%;
    width: 25%;
background-color: crimson;

}
.c{
    height: 100%;
    width: 25%;
background-color: darkorange;

}
















.ending{
height: 30%;
width: 100%;

}
